
.row{

  text-align: left;

}
.left-side h1{
  font-size: 100px;
  font-family: "roboto" , sans-serif;
  font-weight: bold;
  color: #fff;

}

.left-side h1 span{
color:black;
font-family: "roboto" , sans-serif;
font-weight: lighter;
}

.left-side #myname{
  color: #000;
}

h2 {

font-family: "roboto" , sans-serif;
font-weight: lighter;
font-size: 40px;

}

.btn_cv{
  @apply bg-transparent
  hover:bg-white
  text-xl
  text-white
  font-semibold
  hover:text-black
  hover:text-[#615EFC]
   py-3
  px-16 border border-white
  hover:border-transparent rounded-md ;
}
