<div class="flex">
  <div class="w-1/2 ml-0 pl-0">
    <h1 class="text-5xl font-bold">
      HELLO! <span><img src="src/assets/code.png" alt="image" class="inline h-12" /></span>
    </h1>
    <h1 id="myname" class="text-6xl font-bold">ATEF NOURI</h1>
    <h2 class="text-2xl">Full Stack developer | UI Designer</h2>
    <button type="button"
    class="bg-transparent hover:bg-white text-white font-semibold hover:text-black py-2 px-4 border border-white hover:border-transparent rounded">
      Downlaod CV
    </button>
  </div>
  <div class="w-1/2">
    <span><img src="src/assets/pc.png" alt="image" /></span>
  </div>
</div>
