<div class="flex flex-col md:flex-row p-5">
  <div class="md:w-1/2 text-left">

    <h1 class="text-8xl font-bold py-2 text-white" style="font-size: 150px;">
      HELLO! <img src="src/assets/code.png" alt="image" class="inline h-12" />
    </h1>

    <h1 id="myname" class="text-6xl font-bold py-2" style="font-size: 110px;" >ATEF NOURI</h1>

    <h2 class="py-2 text-[11px]" style="font-size: 42px;">Full Stack developer | UI Designer</h2>

    <button type="button"
    class="btn_cv">
      Downlaod CV
    </button>
  </div>

  <div class="md:w-1/2 flex justify-end items-center">
    <img class=" h-auto" src="src/assets/pc.png" alt="image">
  </div>
</div>
