

<div class="flex flex-wrap mb-10">
  <h1 class="section-heading">PORTOFLIO</h1>
</div>

<ul class="tag-container">
  <li class="tag"><a href="#">#Developmenet</a></li>
  <li class="tag"><a href="#">#Devops</a></li>
  <li class="tag"><a href="#">#UI Design</a></li>
</ul>


<!-- Gallery -->
<div class="gallery-wrapper">
  @for (project of projects; track project.imageUrl) {
    <div class="gallery-item">
      <a [href]="project.projectUrl" target="_blank">
        <div class="card">
          <img [src]="project.imageUrl" class="card-image" alt="Project image" />
        </div>
      </a>
    </div>
  }
</div>

<app-pagination></app-pagination>

<div class="image-container">
    <img src="src/assets/code.png" alt="Coding Image">
</div>
