.list-inline{
  text-align: left;
  font-size: 25px;
}

.list-inline-item a{
color: #000;
}

.image-container {
 text-align: left;
}

.image-container img {
    width: auto;
    height: auto;
}

/*tags*/
.tag-container {
  @apply  p-4 flex justify-start gap-8;
}

.tag {
  @apply font-bold underline text-black text-xl;
}
/*tags*/


/*gallery*/
.gallery-wrapper {
  @apply flex flex-wrap -mx-2;
}

.gallery-item {
  @apply w-full md:w-1/2 lg:w-1/3 p-2;
}

.card {
  @apply max-w-sm rounded-xl overflow-hidden shadow-lg;
}

.card-image {
  @apply w-full h-48 object-cover;
}

.card-body {
  @apply px-6 py-4;
}

.card-title {
  @apply font-bold text-xl mb-2;
}
/*gallery*/
